
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

img {
    max-width: 100%;
}

ul {
    list-style-type: none;
}

.stars {
    position: absolute;
}

.hills {
    position: absolute;
    bottom: 0;
}


body {
    font-family: "Red Hat Text", sans-serif;
    background-color: hsl(235, 16%, 14%);
}

.attribution {
    font-size: 11px;
    text-align: center;
}

.attribution a {
    color: hsl(228, 45%, 44%);
}